@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    text-align: center;
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 325px;
    padding: 15px 0px 0px ;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 10px hsl(212, 15%, 80%);
}

h1 {
    font-size: 23px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin: 20px 20px 15px;
}

p {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    margin: 0px 30px 35px;
}

img {
    max-width: 100%;
    width: 300px;
    height: auto;
    border-radius: 15px;
}